force-app/main/default/flows/Account/Account_Before.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Set_Rating_from_Parent</name>
        <label>Set Rating from Parent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Rating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Priority_not_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Rating_to_Hot</name>
        <label>Set Rating to Hot</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Parent_linked</name>
        <label>Is Parent linked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_Priority_not_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parent is not linked</defaultConnectorLabel>
        <rules>
            <name>Yes_and_Parent_has_Rating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Rating</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rating_from_Parent</targetReference>
            </connector>
            <label>Yes, and Parent has Rating</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Priority_not_set</name>
        <label>Is Priority not set?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BillingState</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pomorskie</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Rating_to_Hot</targetReference>
            </connector>
            <label>Yes, and State is Pomorskie</label>
        </rules>
    </decisions>
    <description>Presentation</description>
    <environments>Default</environments>
    <interviewLabel>Account Before Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Before</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Parent_linked</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
